<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>

    <form th:action="@{/auth}" th:object="${user}" method="post">
        <input type="text" th:field="*{login}" placeholder="Введите логин"/>
        <input type="text" th:field="*{password}" placeholder="Введите пароль"/>
        <button>ВОЙТИ</button>
    </form>

    <table th:if="!${#arrays.isEmpty(messages)}" th:each="message:${messages}">
        <tr>
            <td>
                <p th:text= "${message}"></p>
            </td>
        </tr>
    </table>

</body>
</html>