<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img src="/static/img/pr.png" alt="prof">
</div>
<div th:text="${user.name}"></div>
<button class="button">publications</button>
<button class="button button1">followers</button>
<button class="button button2">subscriptions</button><br>
<button class="button button3">edit profile</button><br>

<form method="post" action="/user-info" enctype="multipart/form-data">
    <p>Upload your photos </p>
    <p>
        <input type="file" name="image">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
        <input type="submit" value="Send post">
    </p>
</form>

<div th:each="post: ${posts}">
    <p class="author-login" th:text="${post.getUser().getLogin()}"></p>
    <img class='content' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(post.getImage())}" width="300px"/>
    <p class="description" th:text="${post.getDescription()}"></p>
    <small class="date-stamp" th:text="${post.getDateTime()}"></small>
</div>
</body>
</html>