.button { background-color: #e7e7e7; color: black;}
.button1 { background-color: #e7e7e7; color: black;}
.button2 { background-color: #e7e7e7; color: black;}
.button3 { background-color: #e7e7e7; color: black;width: 100%;}